:root {
  --main-color: #77628c;
  --secondary-color: #6ac1b8;
  --text-color: #2a2438;
}

body {
  background: rgba(219, 216, 227, 0.2);
  font-family: "Rubik", sans-serif;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

a:hover {
  color: var(--main-color);
}

header {
  margin-bottom: 30px;
}

h1 {
  font-weight: 800;
  font-size: 34px;
  line-height: 1.5;
  color: var(--main-color);
  text-align: center;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  color: var(--secondary-color);
  margin: 10px auto;
  text-align: center;
}

.form-container {
  padding: 30px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  margin-bottom: 30px;
}

form {
  display: flex;
}

.instruction {
  padding: 16px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: var(--text-color);
}

.submit-button {
  margin-left: 10px;
  background: var(--main-color);
  color: #ffffff;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  padding: 14px 24px;
  width: 125px;
}

.submit-button:hover {
  background: var(--secondary-color);
  transition: all 30ms ease-in-out;
  cursor: pointer;
}

.hint {
  font-size: 12px;
  line-height: 1.5;
  margin: 2px 0 0 10px;
  opacity: 0.7;
}

.quote {
  font-size: 16px;
  background: #ffffff;
  color: var(--text-color);
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  padding: 20px;
  line-height: 1.5;
  border-left: 6px solid var(--main-color);
}

.hidden {
  display: none;
}

footer {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  color: var(--text-color);
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
